{% extends 'images/base.html' %}

{% block content %}
<div class="homepage-container">
    <h1>{{ image.title }}</h1>
    <nav class="navigation">
        <a href="{% url 'image_list' %}">Back to Gallery</a>
    </nav>

    <div class="image-detail-container">
        <div class="image-detail-content">
            <img src="{{ image.image.url }}" alt="{{ image.title }}" class="detail-image">
            <div class="image-actions">
                <form action="{% url 'delete_image' image.id %}" method="post" class="delete-form">
                    {% csrf_token %}
                    <button type="submit" class="delete-button">Delete Image</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
