{% extends 'images/base.html' %}

{% block content %}
<div class="homepage-container">
    <h1>Update Image Title</h1>
    <nav class="navigation">
        <a href="{% url 'image_detail' image.id %}">Back to Image</a>
    </nav>

    <div class="upload-form-container">
        <form method="post" class="upload-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title:</label>
                {{ form.title }}
            </div>
            <div class="form-actions">
                <button type="submit" class="submit-button">Update Title</button>
            </div>
        </form>
    </div>
</div>
{% endblock %} 